{% extends 'greetingApp/base.html'%}
{% block title%} Home {% endblock %}
{% block content%}
<div class="box">
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    New Greeting
  </button>
</div>
<div class="content">
  <div id="cardlist">
    {% for record in data %}
    <div class="card" id="{{record.id}}">
      <div class="card-body">
        <h5 class="card-title">{{record.name}}</h5>
        <p class="card-text">{{record.message}}</p>
        <button type="button" onclick="updatePopup(this)" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateModal">Edit </button>
        <button type="button" onclick="deletePopup(this)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">Delete</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div id="notify">
</div>
{% endblock %}